
.container{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.Wrapper{
    margin-top: 25px;
    width: 80vw;
    padding-bottom: 30px;
    padding-top: 20px;
}

.headerWrapper{
    text-align: center;
    font-size: 40px;
    color: white;
}

.bodyWrapper{
    margin-top: 20px;
    margin-left: 50px;
}

.item1Wrapper{
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

.item2Wrapper{
    font-size: 25px;
    color: white;
    margin-top: 55px;
}

.item3Wrapper{
    margin-top: 55px;
    font-size: 25px;
    color: white;
}
ul {
    list-style-type: none;
}

/* button.item4Wrapper{
    border: 1px solid black;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 400px;
}

button.item4Wrapper:hover{
    background-color: blue;
    color: white;
} */
label{
    cursor: pointer;
}


span::before{
    content: "  ";
    display: inline-block;
    width: 20px;
    margin-top: 30px;
    margin-left: -20px;
}

button.item5Wrapper{
    width: 100px;
    height: 50px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin-left: 500px;
    border-radius: 5px;
}

button.item5Wrapper:hover{
    font-size: 30px;
    cursor: pointer;
    outline: none;
    background-color: chocolate;
    color: white;
}

/*
This is implemented in Form2module.css 
input[type='radio']:checked{
    box-shadow: 0 0 0 1px green;
} */

input[type='radio']{
    width: 20px;
    height: 15px;
    cursor: pointer;
}
input[type='checkbox']{
    width: 20px;
    height: 15px;
}

input[type='checkbox']{
    accent-color: green;
}

li{
    margin-top: 8px;
}

button.goBack{
    width: 100px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin-left: 500px;
    border-radius: 5px;
}

button.goBack:hover{
    font-size: 24px;
    cursor: pointer;
    outline: none;
    background-color: chocolate;
    color: white;
}